body {
  font-size: 13px;
}

#users {
  text-align: right;
}

.resourse {
  display: inline-block;
 
}

.users .user-head {
  background-color: aquamarine;
}

.villages>div:nth-child(odd){
  background-color: aliceblue;
}