body {
  font-size: 13px;
  overflow-y:scroll;
}
#coordinates{
  border-left: darkgreen solid 9px;
}

#coordinates:invalid {
  border-color: brown;
}

progress {
  width: 100px;
}

#users .villages .resources-block{
  text-align: right;
  float: right;
}

.movements-block {
  float: left;
}

.resource {
  display: inline-block;
}

.adventure {
  cursor: pointer;
}

.disabled {
  opacity: .4;
  cursor: default;
}

.village-header {
  display: flow-root;
  background-color: lavender;
  min-height: 24px;
}

.village-name {
  float: right;
  font-size: 20px;
}

.army {
  float: left;
}

#users .user-head {
  background-color: aquamarine;
}

.timers .timer {
  margin-left: 10px;
}

.timer .running ~ .pause:after {
  content: '⏸'
}

.timer .paused ~ .pause:after {
  content: '▶'
}

.timers .pause {
  border: #000 solid 1px;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.timer-updateUserData .pause {
  background-color: #f90;
}

.timer-startFarmListRaid .pause {
  background-color: rgb(255, 8, 0);
}

.village {
  display: flow-root;
  background-color: aliceblue;
}

.general-sprite-img {
  display: inline-block;
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/general.png);
  width: 16px;
  height: 16px
}

.movement-icon {
  display: inline-block;
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/movement.png);
  width: 16px;
  height: 16px
}

.incoming {
  border-left: 6px solid #3da311;
}

.incoming.movement-attack, .incoming.movement-reyd {
  border-left: 6px solid red;
}

.outgoing {
  border-left: 6px solid #f90;
}

.building-queue {
  float:right;
}
/* 
.movements-block {
  position: absolute;
} */

.movement-group-header {
  cursor: pointer;
}

.movement-group .movement {
  margin-left: 10px;
}

.movements-list {
  overflow: hidden;
}

.movement-heal {
  background-position: -98px -225px;
}

.movement-settle {
  background-position: -34px -225px;
}

.movement-adventure {
  background-position: -283px -180px;
}

.movement-trade, .movement-trade_back {
  background-position: -66px -225px;
}

.movement-spy {
  background-position: -267px -180px;
}

.movement-attack, .movement-reyd {
  background-position: -50px -225px;
}

.movement-support, .movement-support_back {
  background-position: -284px -200px;
}

.action_edit {
  background-position: -425px -160px;
}

.action_delete {
  background-position: -457px -194px;
  width: 11px;
  height: 11px
}

.unit_gold {
  background-position: -288px -416px;
}

.unit_population {
  background-position: -64px -416px;
}

.unit_silver {
  background-position: -425px -320px;
}

.unit_wood {
  background-position: -409px -272px;
}

.unit_clay {
  background-position: -32px -432px;
}

.unit_iron {
  background-position: -176px -416px;
}

.unit_crop {
  background-position: -441px -192px;
}

.unit {
  display: inline-block;
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/unit/small/unit/small.png);
  width: 20px;
  height: 20px;
  background-position: -90px -13px;
}
.unitType11 {
  background-position: -60px -19px;
}

.gaul.unitType1 {
  background-position: -100px -20px;
}

.gaul.unitType2 {
  background-position: 0 -20px;
}

.gaul.unitType3 {
  background-position: -20px -20px;
}

.gaul.unitType4 {
  background-position: -40px 0;
}

.gaul.unitType5 {
  background-position: -40px -20px;
}

.gaul.unitType6 {
  background-position: 0 -40px;
}

.gaul.unitType7 {
  background-position: -20px -40px;
}

.gaul.unitType8 {
  background-position: -40px -40px;
}

.gaul.unitType9 {
  background-position: -60px 0;
}

.gaul.unitType10 {
  background-position: -20px 0;
}

.roman.unitType1 {
  background-position: -60px -100px;
}

.roman.unitType2 {
  background-position: -80px -100px;
}

.roman.unitType3 {
  background-position: -100px -100px;
}

.roman.unitType4 {
  background-position: -120px 0;
}

.roman.unitType5 {
  background-position: -120px -20px;
}

.roman.unitType6 {
  background-position: -120px -40px;
}

.roman.unitType7 {
  background-position: -120px -60px;
}

.roman.unitType8 {
  background-position: -120px -80px;
}

.roman.unitType9 {
  background-position: -120px -100px;
}

.roman.unitType10 {
  background-position: -40px -100px;
}

.building {
  display: inline-block;
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/building/mini/general.png);
  width: 42px;
  height: 42px;
  background-position: 40px 42px;
  border: 1px solid #b8b2a9;
}

.buildingType1 {
  background-position: -168px -126px;
}

.buildingType2 {
  background-position: -126px -210px;
}

.buildingType3 {
  background-position: -336px 0;
}

.buildingType4 {
  background-position: -378px -336px
}

.buildingType5 {
  background-position: 0 -378px;
}

.buildingType10 {
  background-position: -210px -252px
}

.buildingType11 {
  background-position: -84px -42px;
}

.buildingType17 {
  background-position: -42px -126px;
}

.buildingType22 {
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/building/mini/roman.png);
  background-position: -168px 0;
}

.buildingType25 {
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/building/mini/roman.png);
  background-position: -42px -168px;
}

.levelBubble {
  border: 1px solid #9a9389;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  margin: 29px 0 0 0;
  text-align: center;
}