body {
  font-size: 13px;
}

progress {
  width: 100px;
}

#users .villages>div{
  text-align: right;
}

.resourse {
  display: inline-block;
 
}

.vill-name {
  padding: 10px;
}

#users .user-head {
  background-color: aquamarine;
  cursor: pointer;
}

.villages>div:nth-child(odd){
  background-color: aliceblue;
}

.general-sprite-img {
  display: inline-block;
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/general.png);
  width: 16px;
  height: 16px
}

.action_edit {
  background-position: -425px -160px;
}

.action_delete {
  background-position: -457px -194px;
  width: 11px;
  height: 11px
}

.unit_gold {
  background-position: -288px -416px;
}

.unit_population {
  background-position: -64px -416px;
}

.unit_silver {
  background-position: -425px -320px;
}

.unit_wood {
  background-position: -409px -272px;
}

.unit_clay {
  background-position: -32px -432px;
}

.unit_iron {
  background-position: -176px -416px;
}

.unit_crop {
  background-position: -441px -192px;
}

.troops-sprite-img {
  display: inline-block;
  background-image: url(https://cdn.traviantools.net/game/0.98/layout/images/sprites/unit/small/unit/small.png);
  width: 20px;
  height: 20px;
}

.unitSmall.gaul.unitType4 {
  background-position: -40px 0;
}